/* CSS Document */

// SOLID COLORS

$blanco : #FFFFFF;
$negro  : #000000;


// TRANSPARENT COLORS

$negro_trans10   : rgba(0,0,0,.1);
$negro_trans20   : rgba(0,0,0,.2);
$negro_trans30   : rgba(0,0,0,.3);
$negro_trans40   : rgba(0,0,0,.4);
$negro_trans50   : rgba(0,0,0,.5);
$negro_trans60   : rgba(0,0,0,.6);
$negro_trans70   : rgba(0,0,0,.7);
$negro_trans80   : rgba(0,0,0,.8);
$negro_trans90   : rgba(0,0,0,.9);
$negro_trans100  : rgba(0,0,0,1);

$blanco_trans10  : rgba(255,255,255,.1);
$blanco_trans20  : rgba(255,255,255,.2);
$blanco_trans30  : rgba(255,255,255,.3);
$blanco_trans40  : rgba(255,255,255,.4);
$blanco_trans50  : rgba(255,255,255,.5);
$blanco_trans60  : rgba(255,255,255,.6);
$blanco_trans70  : rgba(255,255,255,.7);
$blanco_trans80  : rgba(255,255,255,.8);
$blanco_trans90  : rgba(255,255,255,.9);
$blanco_trans100 : rgba(255,255,255,1);