/* CSS Document */

@mixin section($p,$ct,$cb:null,$i:null){
	@if ($cb == null) {
        $cb : $ct;
    }
	@if ($i != null) {
        $i : !important;
	}
	
	@if($ct != 'inherit') { #{$p}-top: $ct * 75px $i; }
	@if($cb != 'inherit') { #{$p}-bottom: $cb * 75px $i; }
	
	@include media-breakpoint-between(sm,lg){
		@if($cb != 'inherit') { #{$p}-top: $ct * 5% $i; }
		@if($cb != 'inherit') { #{$p}-bottom: $cb * 5% $i; }
	}
	@include media-breakpoint-down(sm){
		@if($cb != 'inherit') { #{$p}-top: $ct * 37px $i; }
		@if($cb != 'inherit') { #{$p}-bottom: $cb * 37px $i; }
	}
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        $browser: '-webkit-' !global;
        @content;
    }
    @-moz-keyframes #{$animationName} {
        $browser: '-moz-' !global;
        @content;
    }
    @-o-keyframes #{$animationName} {
        $browser: '-o-' !global;
        @content;
    }
    @keyframes #{$animationName} {
        $browser: '' !global;
        @content;
    }
} $browser: null;

